.parent{
    border: 3px solid dodgerblue;
    width: 600px;
    overflow: hidden;
}

.child{
    background-color: gold;
    width: 200px;
    height: 200px;
    margin: auto;
    display: block;
    /* float의 기본값은 none이다 */
}

.test{
    
}